<span class="input-group-btn">
    <a href="#users/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> User</a>
    <a href="#users/email" class="btn btn-default">Send Email</a>
</span>
