<form method="POST" role="form">
    <h3 id="formtitle">Email Members</h3>
    <div id="alert"></div>
    <fieldset>
        <div class="form-group">
            <label>Subject</label>
            <input class="form-control" type="text" name="subject" id="subject"/>
        </div>
        <div class="form-group">
            <label>Email Body</label>
            <textarea class="form-control" rows="10" name="body"></textarea>
        </div>
    </fieldset>
    <div class="form-actions">
        <a id="save-button" class="btn btn-primary">Send &raquo;</a>
        <a id="cancel-button" class="btn btn-default">Cancel</a>
    </div>
</form>
