<div class="page-header">
  <h1>Members</h1>
  <p>The member list is a complete list of all registered WMGA members. This is a great way to keep in touch with other members or get in contact with them for tournaments and events.</p>
</div>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search"/>
</div>
<br/>
<div id="table">
</div>
