<div class="row">
    <div class="col-md-1"><b><%= getDateAttr('itemdate') %></b></div>
    <div class="col-md-4"><a href="#news/read/<%= model.id %>"><%= getAttr('title') %></a></div>
</div>
<div class="row">
    <div class="col-md-8 well"><%= getAttr('text') %></div>
</div>
