<div class="page-header">
  <h1>News Articles</h1>
  <p>This is a complete list of the latest news articles at WMGA. You can also find current and historical tournament results.</p>
</div>

<div class="btn-group" data-toggle="buttons" id="filter">
    <label class="btn btn-default active" id="all">
        <input type="radio"> All
    </label>
    <label class="btn btn-default" id="recent">
        <input type="radio"> Recent
    </label>
    <label class="btn btn-default" id ="past">
        <input type="radio"> Past
    </label>
</div>
<br><br>
<div class="eventList">
</div>
