<div class="panel panel-default listItem">
	<div class="panel-heading">
		<h1 class="panel-title">
			<%= title %>
		</h1>
	</div>
	<div class="panel-body">
		<p class="highlightedInfo"><%= itemdate %></p>
    <p><%= text %></p>
	</div>
	<div class="panel-footer">
		<a href="#news/read/<%= _id %>">View Details <span class="glyphicon glyphicon-arrow-right"></span></a>
	</div>
</div>
