<header class="jumbotron subhead">
    <div class="contact-img-title"/>
    <h2>Contact Information</h2>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" id="sidebar">
                <a href="#wmga" class="list-group-item"><i class="icon-chevron-right"></i> WMGA Information</a>
                <a href="#tnl" class="list-group-item"><i class="icon-chevron-right"></i> Thursday Night League</a>
                <a href="#saturday" class="list-group-item"><i class="icon-chevron-right"></i> Saturday League</a>
                <a href="#contacts" class="list-group-item"><i class="icon-chevron-right"></i> Other Contracts</a>
            </div>
        </div>
        <div class="col-md-9">
            <section id="wmga">
                <div class="page-header">
                    <h3 id="wmga">WMGA Information</h3>
                </div>
                <p>WMGA is affiliated with the Westwood Park Golf Course in Norman, OK.  We have Thursday night and Saturday morning leagues that hold tournaments and events from March through October.  You must be a member of the WMGA in order to particpate in any of the Thursday Night or Saturday League events.</p>
                <a href="#signup" class="btn btn-primary">Membership Registration</a>
                <hr>
                <p><a href="mailto:rseansimpson@gmail.com">Officers: President - Sean Simpson</a> - President / Matt Pempin - Vice President / <a href="mailto:hymiep@cox.net">Jamie Parkman</a> - Treasurer</p>
            </section>
            <section id="tnl">
                <div class="page-header">
                    <h3>Thursday Night League Information</h3>
                </div>
                <p>Thursday Night League (TNL) is a 4 or 5 man team league that plays a 9 hole format on Thursday nights.  We have over 40 teams play in this league every year.  If you are not on a team you can sign up as an alternate or build your own team.  <b>Note: </b> You must first be a registered WMGA member before you can register a team.</p>
                <a href="https://s3-us-west-2.amazonaws.com/wmga/2014 Thursday Night Schedule.pdf" class="btn btn-default">2014 Schedule</a> <a href="https://s3-us-west-2.amazonaws.com/wmga/2014 TNL RULES.pdf" class="btn btn-default">2014 Rules</a> <a href="https://s3-us-west-2.amazonaws.com/wmga/TNLRainoutPolicy.pdf" class="btn btn-default">Rain Out Policy</a>
                <hr>
                <p>Contacts: <a href="mailto:dcstrait@gmail.com">Chris Strait</a> &amp; <a href="mailto:jsmarley@cox.net">Jeff Marley</a></p>
            </section>
            <section id="saturday">
                <div class="page-header">
                    <h3>Saturday League Information</h3>
                </div>
                <p>Saturday League offers one and two man tournaments held on Saturday mornings.  <b>Note: </b> You must first be a registered WMGA member before you can register for a Saturday tournament.</p>
                <a href="https://s3-us-west-2.amazonaws.com/wmga/2014 Saturday schedule.pdf" class="btn btn-default">2014 Schedule</a>
                <hr>
                <p><a href="mailto:rseansimpson@gmail.com">Sean Simpson</a> &amp; <a href="mailto:hymiep@cox.net">Jamie Parkman</a></p>
            </section>
            <section id="contacts">
                <div class="page-header">
                    <h3>Web Master</h3>
                </div>
                <p>If you have any questions about the site or problems signing up please contact me.</p>
                <hr>
                <p><a href="mailto:nance.nick@gmail.com">Nick Nance</a></p>
            </section>
        </div>
    </div>
</div>
