<form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div id="alert"></div>
    <input type="email" class="form-control" placeholder="Email address" name="email" autofocus>
    <input type="password" class="form-control" placeholder="Password" name="password">
    <label class="checkbox">
        <input type="checkbox" value="true" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    <p>
        <a id="forgotPassword" href="#">Forgot password</a>
    </p>
</form>
