<div class="jumbotron-index masthead">
  <div id="jumbotron">
      <h2>Westwood Men&#39s Golf Association</h2>
      <p class="hidden-phone">Welcome to the Westwood Men&#39s Golf Association.  WMGA is affiliated with the Westwood Park Golf Course in Norman, OK. We have Thursday night and Saturday morning leagues that hold tournaments and events from March through October. If you live in Norman or the surrounding area come out and join the association and participate in some events.</p>
      <a href="#signup" class="btn btn-primary btn-lg">Sign Up Today</a>
  </div>
</div>

<div class="page-header">
  <h1>Recent News</h1>
</div>
<div id="news-item" class="itemList"></div>
<p class="clearfix"><a class="btn btn-default pull-right" href="#news" role="button">View All News</a></p>

<div class="page-header">
  <h1>Upcoming Events</h1>
</div>
<div id="events-item"></div>
<p class="clearfix"><a class="btn btn-default pull-right" href="#events" role="button">View All Events</a></p>

<div class="page-header">
  <h1>Contact Us</h1>
</div>
<div class="well">View our contact page for league schedules, rules and more information.</div>
<p class="clearfix"><a class="btn btn-default pull-right" href="#contact" role="button">View Contact Page</a></p>

