<form method="POST" role="form">
    <h3 id="formtitle">Add team</h3>
    <div id="alert"></div>
    <fieldset id="required">
        <legend>Required Information</legend>
        <div class="form-group">
            <label>Team Name</label>
            <input class="form-control" type="text" name="name" value="<%= model.get('name') %>"/>
        </div>
        <div class="form-group">
            <label>Requested Tee Time</label>
            <input class="form-control" type="text" name="teetime" value="<%= model.get('teetime') %>"/>
        </div>
    </fiedlset>
    <fieldset id="additional">
        <legend>Additional Information</legend>
        <div class="form-group">
            <label>Comments</label>
            <textarea class="form-control" rows="5" name="comments"><%= model.get('comments')%></textarea>
        </div>
    </fieldset>
    <fieldset id="additional">
        <legend>Team Members</legend>
        <div class="form-group">
            <label>Team Members</label>
            <select class="form-control select2 select2-multiple" name="members" multiple></select>
        </div>
    </fieldset>
    <div class="form-actions">
        <a id="save-button" class="btn btn-primary">Save changes</a>
        <a id="cancel-button" class="btn btn-default">Cancel</a>
    </div>
</form>
<div class="row status-bar">
    <div class="span9">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Record saved successfully
        </div>
    </div>
</div>
