<header class="jumbotron subhead">
    <div class="contact-img-title"/>
    <h2>Teams</h2>
</header>

<div class="row">
    <div class="col-md-3" id="help">
        <div class="well">
            <h4 id="helptitle">Teams</h4>
            <p>The team list is a complete list of all the Thursday night teams.  There is an annual membership cost required to register a team.  You can register your team from the <a href="#membership">membership</a> page.The team manager is responsible for signing up a team and managing the team roster.</p>
        </div>
    </div>
    <div class="col-md-9" id="index">
    </div>
</div>
