<div class="page-header">
  <h1>Team</h1>
  <p>The team list is a complete list of all the Thursday night teams.  There is an annual membership cost required to register a team.  You can register your team from the <a href="#membership">membership</a> page.The team manager is responsible for signing up a team and managing the team roster.</p>
</div>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search"/>
</div>
<br/>
<div class="row" id="table">
</div>
