<div class="input-group">
    <input type="text" class="form-control" placeholder="Search"/>
</div>
<br/>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Team Name</td>
            <td>Paid</td>
            <td>Tee Time</td>
            <td>Sign Up</td>
            <td>Comments</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
