<div class="page-header">
  <h1><%= isNew ? 'Add new' : 'Edit' %> event</h1>
</div>
<form method="POST" role="form">
    <div id="alert"></div>
    <fieldset>
        <div class="form-group">
            <label>Event Title:</label>
            <input class="form-control" type="text" name="title" value="<%= title %>"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea rows="5" class="form-control" name="description"><%= description %></textarea>
        </div>
    </fieldset>
    <fieldset>
        <legend>Details</legend>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label >Start Date</label>
                    <div class="input-group" id="startdatepicker">
                        <input class="form-control" type="text" name="startdate" value="<%= startdate %>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Attach File</legend>
        <div class="form-group">
            <label for="attachedfile">File Name</label>
            <input type="file" id="attachedfile">
        </div>
    </fieldset>
    <div class="form-actions">
        <a id="save-button" class="btn btn-primary">Save changes</a>
        <a id="cancel-button" class="btn btn-default">Cancel</a>
    </div>
</form>
<div class="row status-bar">
    <div class="span9">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Record saved successfully
        </div>
    </div>
</div>
