<div class="btn-group" data-toggle="buttons" id="filter">
    <label class="btn btn-default active" id="all">
        <input type="radio"> All
    </label>
    <label class="btn btn-default" id="upcoming">
        <input type="radio"> Upcoming
    </label>
    <label class="btn btn-default" id="past">
        <input type="radio"> Past
    </label>
</div>
<br><br>
<div class="container">
</div>
