<div class="btn-toolbar pull-right">
</div>
<h3><%= model.get('title') %></h3>
<h4><%= model.dateAsString('startdate') %></h4>
<p><%= model.get('description') %></p>
<p>Attached file: <a href="<%= getFileUrl() %>"><%= model.get('attachedfile') %></a>
