<div class="page-header">
  <h1><%= model.get('title') %></h1>
</div>
<div class="item-view">
	<h4><%= model.dateAsString('startdate') %></h4>
	<p><%= model.get('description') %></p>
	<p>Attached file: <a href="<%= getFileUrl() %>"><%= model.get('attachedfile') %></a></p>
</div>
