<h2>Signed in!</h2>
<p>You are now signed in.  To keep your WMGA membership active you must pay your anual dues of $25 via PayPal.  You can do this now or wait and pay later.  If you choose to pay later you will find the dues payment button on the membership page.</p>
<p class="lead">Pay your dues now?</p>
<p>
    <a class="btn btn-primary" role="button">Pay Now &raquo;</a>
    <a class="btn btn-default" role="button">Not now</a>
</p>
