<h3>Welcome</h3>
<p>The Westwood Men's Golf Association would like to welcome you to our golf league.  Please be sure to select the appropriate option below.</p>
<p class="lead">Are you an existing member?</p>
<form role="form">
    <div class="radio">
        <label>
            <input type="radio" name="existingMember" value="yes" checked> Yes. I want to use my existing account
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="existingMember" value="no"> No. I would like to create a new account
        </label>
    </div>
</form>
<p>
    <a class="btn btn-primary" role="button">Next &raquo;</a>
</p>
